body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.Container {
  background-color: #4B6477B0;
  display: flex; 
  min-height: 100vh;
}

.Right {
  background-color: #4B6477B0;
  display: flex;
  flex-direction: column; 
  padding: 25px 15px;
  width: 50%;
}

.Corner-img {
  width: 135px;
  height: 117px;
}

.Corner-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.Introduction {
  margin-top: 20px;
}

.Left {
  width: 50%;
  padding: 25px 15px;
}